* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
  font-family: Arial, Helvetica, sans-serif;
  color: #2b2d42;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s ease;
}

button:hover {
  opacity: 0.9;
}