.track-container {
  width: 600px;
  margin: 100px auto;
  text-align: center;
  background: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0 5px 20px
    rgba(0, 0, 0, 0.1);
}

.order-status {
  font-size: 40px;
  color: #ff6b35;
  margin-top: 30px;
  font-weight: bold;
}